extends layout

block content
  h1= title
  - let result=results
  div(class="container-fluid")
  div(class="row m-1")
   each value,index in results
    -let destination=`buy(\"/juice/update?id=${value._id}\")`
    div(class="row-sm-2",class="m-1")  #{value.juice_flavour} drink, cost #{value.juice_cost}, quantity #{value.juice_quantity}
      button.btn( class="btn-primary ml-1", onclick=destination) Update
   script.
    function buy(path)
    {
      window.location.href=path
    }
  

